# Gitignore for Flutter projects

# Generic
.DS_Store
.env
.flutter-plugins
.flutter-plugins-dependencies
.packages
.dart_tool/
.idea/
.metadata
.vscode/
build/
*.iml

# Android specific
android/.gradle/
android/app/src/main/res/
android/local.properties
android/key.properties
android/app/upload-keystore.jks

# iOS specific
ios/.symlinks/
ios/Flutter/.last_build_id
ios/Runner.xcworkspace/

# macOS specific
macos/Flutter/ephemeral/

# Windows specific
windows/flutter/ephemeral/

# Linux specific
linux/flutter/ephemeral/

# Web specific
web/flutter_bootstrap.js

# Gemini specific
GEMINI.md
